<img src="poweredbystripe.svg"  class="center">
<div class="outer">
  <ol style="--length: 5" role="list" id="prep" aria-label="Preparation">
  {{#each odr}}
    {{#unless completed}} 
    <li style="--i: 2" value={{payment_intent_id}} onclick="myFunction(this)">
      <div>
        <div class="right">  
        {{#each order}}
        <p>{{quantity}} x {{name}}</p>
        {{/each}}
        </div>
        <div>
              <h3>{{name}}</h3>
              <br>
        </div>
      </div>
    </li>
    {{/unless}}
  {{/each}}
  </ol>
  <ol style="--length: 5" role="list" id="ready" aria-label="Completed">
  {{#each odr}}
    {{#if completed}} 
    <li style="--i: 5">
      <div>
        <div class="right">  
        {{#each order}}
        <p>{{quantity}} x {{name}}</p>
        {{/each}}
        </div>
        <div>
              <h3>{{name}}</h3>
              <br>
        </div>
      </div>
    </li>
        {{/if}}
  {{/each}}
  </ol>
</div>
<script src="/js/orders.js"></script>

